.one{
	background-color: pink;
	color: black;
}
.adjust-font-size{
	font-size: 24px;
}

#two {
color: blue;
	font-size: 36px;
}

#four{
	background-color: green;
	font-weight: bold;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	